/* --- SEKCJE --- */
.header-section {
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: var(--text-dark);
    padding-bottom: 15px;
}

.header-section .linia {
    width: 20rem;
    height: 5px;
    background-color: var(--beige-accent);
    margin: 0 auto;
}

hr {
    border: none;
    height: 5px;
    background: var(--beige-dark);
    width: 20%;
    margin: 0 auto;
    border-radius: 10px;
}

